.red{
    background:red;
    border-radius: 50px;
    width:45px;
    -moz-border-radius: 50px/50px;
    -webkit-border-radius: 50px 50px;
    border-radius: 50px/50px;
    border:none;
    margin-left:5px;
}

.points{
    position:relative;
    top: 6px;
    left: 6px;
    color:white;
}

.right{
    text-align: right;
}