<div class="card">
    <div class="card-block">
        <h3>Geräte</h3>
        <ngb-accordion [closeOthers]="true" activeIds="static-1">
        <ngb-panel id="{{room.room.id}}" *ngFor="let room of globalVar.user.devices | ObjNgFor">
            <ng-template ngbPanelTitle>
                    <div class="d-flex justify-content-end">
                        <div class="devicename" style="text-overflow:ellipsis; overflow:hidden;cursor:pointer; margin:auto auto auto 0 !important;">
                                {{room.room.name}}
                        </div>
                        <div style="display: flex; height:40px;">
                            <button  class="btnOn unselectable" id="btnOn{{room.id}}" (click)='switchRoom($event, {"room":room.room,"status":"1"})' >An</button>
                            <button class="btnOff unselectable" id="btnOff{{room.id}}" (click)='switchRoom($event, {"room":room.room,"status":"0"})' >Aus</button>
                        </div>
                    </div>
            </ng-template>
            <ng-template ngbPanelContent>
                    <ul class="list-group">
                        <div
                            class="" 
                            *ngFor="let device of room.roomdevices| ObjNgFor"
                            [ngSwitch]="device.protocol"
                            >
                            <div *ngSwitchCase="'onewire'"></div>
                            <app-shutter *ngSwitchCase="'homegear:shutter'" [device]="device"></app-shutter>
                            <app-switch-button *ngSwitchDefault [device]="device"></app-switch-button>
                        </div>
                    </ul>
            </ng-template>
        </ngb-panel>
        </ngb-accordion>
    </div>
</div>